h1 {
  font: 80px;
  color: #ff9620;
}
body main{
    font-family: 'Montserrat', sans-serif;
    color: #5d5d5d;
}
h3 {
  font: 80px;
  color: #52a6de;
  padding-bottom: 30px;
}
td {
  padding-right: 20px;
  padding-top: 10px;
}
hr {
  margin-bottom: 30px;
}

.quest, .first {
  font-weight: 600;
}
.ref{
  margin-top: 70px;
  margin-bottom: 60px;
}

.ref h1{
  font-weight: 700;
  font-size: 3rem;
}

.info, .summary-description{
  display: flex;
}
.icon {
  padding-left: 0;
  margin-bottom: 30px;
  max-width: 130px;
  border: 1px solid #e0e0e0;
  padding: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(224,224,224,1);
  -moz-box-shadow: 0px 15px 30px 0px rgba(224,224,224,1);
  box-shadow: 0px 15px 30px 0px rgba(224,224,224,1);
}

.summary_td{
  vertical-align: top;
  font-weight: 600;
}

.ans{
  font-weight: 700;
}

.answers{
  padding: 90px 0;
}

.reviews{
  margin-top: 35px;
}

.col-12.col-lg-2.col-md-3.nopadding{
  padding-left: 0;
  padding-right: 0;
}
.col-12.col-lg-10.col-md-9.nopadding{
  padding-left: 0;
  padding-right: 0;
}
.reviews-images{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 20px;
  -webkit-border-image: url(../img/border.png) 30 round;
  -o-border-image: url(../img/border.png) 30 round;
  border-image: url(../img/border.png) 30 round;

}
.reviews-images div{
  display: flex;
  justify-content: center;
  background-image: url("../img/star.png");
  width: 156px;
  height: 156px;
  background-size: auto;
  background-repeat: no-repeat;
}
.aside.nomargin{
  margin: 0;
}
.aside{
  padding-top: 55px;
  font-size: 30px;
  font-weight: 700;
  color: #ff9620;
  position: relative;
}
.aside .smaller{
  font-size: 25px;
  font-weight: 600;
  padding-top: 5px;
}
.aside:after{
  position: absolute;
  bottom: -15px;
  font-size: 14px;
  font-weight: initial;
  color: #5d5d5d;
  text-align: center;
  white-space: pre; /* or pre-wrap */
}

.aside:nth-of-type(1)::after{
  content: "OVERALL \A SCORE";
}

.aside:nth-of-type(2)::after{
  content: "ON TIME /\A DEADLINES";
}

.aside:nth-of-type(3)::after{
  content: "SERVICE &\A DELIVERABLES";
}

.aside:nth-of-type(4)::after{
  content: "VALUE /\AWITHIN ESTIMATES";
}

.aside:nth-of-type(5)::after{
  content: "WILLING TO\A REFER";
}

.reviews-text{
  font-size: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.review{
  text-align: center;
  margin-left: 30px;
}

a.linkedin-profile{
  word-break: break-all;
}





@media screen and (min-width: 1200px){
  .container-fluid {
    max-width: 1050px;
  }
}

@media screen and (max-width: 1010px){
  .reviews-images {
    display: flex;
    flex-flow: row wrap;
  }
}
